.home-container {
    background-image: url("../images/foodimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.img-text {
    z-index: 0;
    margin: 0;
    color: white;
    font-size: 100px;
    position: absolute;
    top: 100px;
    left: 4rem;
    font-weight: bold;
}

.subtitle {
    z-index: 0;
    margin: 0;
    color: white;
    position: absolute;
    top: 340px;
    left: 5rem;
    font-weight: bold;
}

.home-button {
    background-color: rgb(216, 112, 0);
    outline: none;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 380px;
    left: 5rem;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.home-button:hover {
    background-color: #1d1a16;
    color: rgb(216, 112, 0);
}

@media screen and (max-width: 850px) {
    .home-container {
        height: 30rem;
    }
}

@media screen and (max-width: 540px) {
    .img-text {
        font-size: 50px;
        top: 50px;
    }

    .subtitle {
        top: 250px;
    }

    .home-button {
        top: 280px;
    }
}

@media screen and (max-width: 540px) {
    .img-text {
        font-size: 50px;
        top: 50px;
        left: 30px;
    }

    .subtitle {
        top: 250px;
        left: 30px;
    }

    .home-button {
        top: 280px;
        left: 30px;
    }
}