.menu-container {
    display: flex;
}

.meals-container {
    width: 90%;
    max-width: 70rem;
    list-style: none;
    margin: 0.5rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;
    gap: 1rem;
}

.loading-box {
    margin: 0 auto;
    color: white;
}

@media screen and (max-width: 730px) {
    .menu-container {
        flex-direction: column;
    }

    .meals-container {
        justify-items: center;
    }
}