.featured-product-container {
    margin-top: 8rem;
}

.featured-product-container h2 {
    color: white;
    margin-left: 5rem;
}

.featured-menu-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

.featured-menu-box p {
    color: white;
    font-size: 20px;
}

.featured-button {
    background-color: rgb(216, 112, 0);
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.featured-button:hover {
    background-color: #1d1a16;
    color: rgb(216, 112, 0);
}

@media screen and (max-width: 540px) {
    .featured-product-container {
        text-align: center;
    }

    .featured-product-container h2 {
        margin: 0;
    }
}